body{
    color:green;
    text-align: justify;
    font-family:verdana
        
    
}
h1{
    text-align: center;
        text-decoration:underline;
}
p{
    text-indent: 50px;
    word-spacing: 5xp;
     
}
footer{
    text-align: right;
}
i.fa-graduation-cap{
    font-size: 3em;
}


