body{
    color:black;
    text-align: justify;
    font-family:verdana;
    width: 90%;
    margin: 0 auto;
        
        
    
}
h1{
     color:green;
    text-align: center;
        text-decoration:underline;
    text-transform: capitalize;
}
p{
    text-indent: 50px;
    word-spacing: 5xp;
     
}
footer{
    text-align: right;
}
i.fa-graduation-cap{
    font-size: 3em;
}


